.trafficlightLeft{
  width: 100px;
  height: 300px;
  background-color: #434343;
  float: left;
  padding: 10px;
  border-radius: 15px;
}
.trafficBridge{
  width: 100px;
  height: 300px;
  background-color: #434343;
  /*float: left;*/
  margin-left: 850px;
  padding: 10px;
  border-radius: 15px;
}

.trafficlight-mini-raight{
  /*clear: both;*/
  width: 100px;
  height: 100px;
  background-color: #434343;
  float: left;
  margin-top: 200px;
  padding: 10px;
  border-radius: 15px;
}
.trafficlight-mini-left{
position: absolute;
  left: 1595px;
  top: 220px;
  width: 100px;
  height: 100px;
  background-color: #434343;
  /*float: right;*/
  margin-top: 0px;
  padding: 10px;
  border-radius: 15px;
}
.trafficlight-next-raight{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #434343;
  /*float: right;*/
  left: 980px;
  margin-top: -125px;
  padding: 10px;
  border-radius: 15px;
}
.trafficlight {
  width: 100px;
  height: 300px;
  background-color: #434343;
  float: right;
  padding: 10px;
  border-radius: 15px;
  margin-top: -810px;
}

.timer{
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: #484848;
  z-index: 2;
  margin: 0px auto;
  left: 250px;
  top: 42px;
  padding: 10px;
  border-radius: 15px;
}

.timer .num{
  margin-top: 26px;
  text-align: center;
  bottom: 10px;
  font-size:45px;
  font-weight: bold;
  background-color: #4d5554;
  border-radius: 20px;
}
.timer-holder-top{
  position: absolute;
  z-index: -1;
  width: 50px;
  height: 20px;
  background-color: #303030;
  top: 60px;
  left: 300px;
}
.timer-holder-top-r{
  position: absolute;
  z-index: -1;
  width: 50px;
  height: 20px;
  background-color: #303030;
  top: 60px;
  left: 550px;
}
.timer-holder-bottom{
  position: absolute;
  z-index: -1;
  width: 50px;
  height: 20px;
  background-color: #303030;
  top: 130px;
  left: 300px;
}
.sub-light-raight{
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: #484848;
  z-index: 2;
  left: 1500px;
  top: 220px;
  padding: 10px;
  border-radius: 15px;
}

.sub-light{
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: #484848;
  z-index: 2;
  margin: 0px auto 0px auto;
  left: 260px;
  top: 210px;
  padding: 10px;
  border-radius: 15px;
}
.timer-holder-top-r{
  position: relative;
  /*z-index: -1;*/
  width: 50px;
  height: 20px;
  background-color: #303030;
  /*margin: 0 auto;*/
  /*top: 0px;*/
  /*left: 215px;*/
}
.sub-holder-top{
  position: absolute;
  z-index: -1;
  width: 50px;
  height: 20px;
  background-color: #303030;
  top: 230px;
  left: 245px;
}
.sub-holder-bottom{
  position: absolute;
  z-index: -1;
  width: 50px;
  height: 20px;
  background-color: #303030;
  top: 280px;
  left: 245px;
}
.pole{
float: right;
  width: 30px;
  height: 500px;
  background-color: #333333;
  margin-right: 40px;
  margin-top: -520px;
  clear: both;
}
.poleLeft{
  float: left;
  margin-left: 40px;
  width: 30px;
  height: 500px;
  background-color: #282828;
  clear: both;
}
.bpole{
  float: right;
  width: 60px;
  height: 30px;
  background-color: #282828;
  margin-right: 25px;
  margin-top: -25px;
  clear: both;
}
.bpoleLeft{
  float: left;
  margin-left: 25px;
  width: 60px;
  height: 30px;
  background-color: #282828;
  clear: both;
}

.lamp{
  border-radius: 100%;
  width: 80;
  height: 80;
  padding: 45px;
  margin: 5px;
}
.lampR{
  border-radius: 100%;
  width: 80;
  height: 80;
  padding: 35px;
  /*margin: 5px;*/
  /*margin-top: 0px;*/
  margin-left: 3px;
}
#human{
  margin: 0 auto 0 auto;
}


.lamp.red{
  background-color: #331111;
}

.lamp.yellow{
  background-color: #222211;
}

.lamp.green{
  background-color: #113311;
}

.trace-l{
  position: absolute;
  width: 1580px;
  height: 250px;
  padding: 30px;
  background-color: #597577;
  margin-top: 350px;
  margin-left: 90px;
  border: 5px solid yellow;
}
.trace-r{
  position: absolute;
  width: 250px;
  height: 552px;
  padding: 30px;
  background-color: #597577;
  margin-top: 350px;
  margin-left: 750px;
  border: 5px solid yellow;
}
.crosswalk-l{
  position: relative;
  width: 100px;
  height: 240px;
  padding: 30px;
  background-color: #efece1;
  margin-top: -30px;
  margin-left: 50px;
  border: 5px solid yellow;
  /*clear: both;*/
}
.crosswalk-r{
  position: relative;
  width: 100px;
  height: 240px;
  padding: 30px;
  background-color: #efece1;
  margin-top: -30px;
  margin-left: 700px;
  border: 5px solid yellow;
}

.crosswalk-round{
  position: relative;
  width: 240px;
  height: 100px;
  padding: 30px;
  background-color: #efece1;
  margin-top: 50px;
  margin-left: -30px;
  border: 5px solid yellow;
}
.crosswalk-round-line{
  position: relative;
  width: 10px;
  height: 150px;
  padding: 5px;
  background-color: #efe54b;
  margin-top: -30px;
  margin-left: 0px;
}
.crosswalk-round-linee{
  clear: both;
  position: relative;
  width: 10px;
  height: 140px;
  padding: 5px;
  background-color: #efe54b;
  margin-top: -160px;
  margin-left: 50px;
}
.crosswalk-round-linef{
  clear: both;
  position: relative;
  width: 10px;
  height: 150px;
  padding: 5px;
  background-color: #efe54b;
  margin-top: -160px;
  margin-left: 100px;
}
.crosswalk-round-lined{
  clear: both;
  position: relative;
  width: 10px;
  height: 150px;
  padding: 5px;
  background-color: #efe54b;
  margin-top: -160px;
  margin-left: 150px;
}
.crosswalk-round-linec{
  clear: both;
  position: relative;
  width: 10px;
  height: 150px;
  padding: 5px;
  background-color: #efe54b;
  margin-top: -160px;
  margin-left: 200px;
}
.crosswalk-round-lines{
  clear: both;
  position: relative;
  width: 10px;
  height: 150px;
  padding: 5px;
  background-color: #efe54b;
  margin-top: -150px;
  margin-left: 50px;
}
.crosswalk-line{
  position: relative;
  width: 150px;
  height: 10px;
  padding: 5px;
  background-color: #efe54b;
  margin-top: 0px;
  margin-left: -30px;
}

.crosswalk-linet{
  position: relative;
  width: 150px;
  height: 10px;
  padding: 5px;
  background-color: #efe54b;
  margin-top: 25px;
  margin-left: -30px;
}
